:root {
  --main-background-color: #ffffff;
  --footer-beckgrond-color: #2e2f42;
  --text-footer-section-color: #f4f4fd;
  --hover-focus-color: #404bbf;
  --title-color: #2e2f42;
  --text-color: #434455;
  --hairlines-button-color: #e7e9fc;
  --blue-text-color: #4d5ae5;
  --customers-icon-color: #8e8f99;
}

/* Утиліти */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.transform {
  text-transform: capitalize;
}

body {
  font-family: "Roboto", sans-serif;

  color: var(--text-color);
  background-color: var(--main-background-color);
  font-size: 16px;
  letter-spacing: 0.02em;
}
.current {
  color: var(--hover-focus-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Мобільна версія */
.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

.container.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: var(--blue-text-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-title {
  color: var(--title-color);
}
.page-header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--hairlines-button-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.media-link {
  display: flex;
  background-color: var(--blue-text-color);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-link:hover,
.media-link:focus {
  background-color: var(--hover-focus-color);
}

/* Мобільне меню */

@media screen and (max-width: 767px) {
  .site-nav,
  .add {
    display: none;
  }

  .footer .container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
  }
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .btn-open-menu {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .icon-open-menu {
    stroke: var(--title-color);
  }
  .mob-menu {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-background-color);
    overflow: auto;
    transition: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: linear;
  }
  .mob-container {
    position: relative;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 24px;
  }
  .mob-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    color: var(--title-color);
  }

  .menu-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    color: var(--blue-text-color);
  }

  .menu-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  .mob-nav-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mob-nav-list {
    margin-bottom: 284px;
  }
  .mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mob-menu-list {
    margin-bottom: 48px;
  }

  .mob .media-list {
    height: 40px;

    display: flex;
    gap: 56px;

    align-items: center;
  }

  .icon {
    fill: var(--text-footer-section-color);
  }

  .close-btn-mob {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    background-color: rgba(231, 233, 252, 0.1);
    border: 1px solid rgba(46, 47, 66, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* Our Team */
  .list.team {
    width: 264px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }
}
/* hero section мобільні */
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--footer-beckgrond-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-hero.jpg);

  background-position: center;
  max-width: 428px;
  height: 432px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  color: var(--main-background-color);

  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;

  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}
/* button */
.button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: auto;

  color: var(--main-background-color);
  background-color: var(--blue-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .button:hover,
.hero .button:focus {
  background-color: var(--hover-focus-color);
}

/* Our qualities section мобільні */
.section.qua {
  padding: 96px 0;
}
.icon-background {
  display: none;
}
.list.qua {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.section-qualities {
  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.section-text {
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.5;
}
/* What are we doing мобільні */
.section.doing {
  display: none;
}
/* Our Team мобільні */
.section.team {
  padding: 96px 0;
}

.section-title {
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.item.border {
  width: 100%;
  border-radius: 0 0 4px 4px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-container {
  padding: 32px 0;
  text-align: center;
}
.section-name {
  color: var(--title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-container .section-text {
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 8px;
}
.media-list {
  height: 40px;

  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
/*  Customers мобільні */
.section.customers {
  padding: 96px 0;
}
.customers-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px;
  gap: 72px 16px;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.customers-item .link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: var(--customers-icon-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item .link:hover,
.customers-item .link:focus {
  border-color: #404bbf;
}
.customers-item .link:hover,
.customers-item .link:focus {
  color: #404bbf;
}

.customers-icon {
  fill: currentColor;
}

/* footer мобільні */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--footer-beckgrond-color);
}

.footer-logo .logo {
  display: block;
  text-align: center;
  padding: 0px;
  margin-bottom: 16px;
}
.logo-cloud {
  color: var(--text-footer-section-color);
}
.footer-text {
  color: var(--text-footer-section-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
}
.footer-text-media {
  display: block;
  text-align: center;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--main-background-color);
}

.footer-media .list {
  display: flex;
  height: 40px;
  gap: 16px;
  align-items: center;
}

.footer-mail {
  width: 398px;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 16px;
  font-size: 12px;
  color: var(--main-background-color);
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}

.footer-mail::placeholder {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
}
.button-footer {
  display: flex;
  gap: 16px;

  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
}

form .button:hover,
form .button:focus {
  background-color: var(--hover-focus-color);
}

.icon-send {
  fill: #ffffff;
}

/* Стилі Планшет */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .mob-menu {
    display: none;
  }
  .btn-open-menu {
    display: none;
  }
  .logo {
    margin-right: 120px;
  }
  .main-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .site-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--hover-focus-color);
  }

  .contact {
    color: var(--text-color);
    font-style: normal;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list .contact:hover,
  .list .contact:focus {
    color: var(--hover-focus-color);
  }
  .site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--title-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .link.but.current {
    color: var(--hover-focus-color);

    position: relative;
  }
  .current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    background-color: var(--hover-focus-color);
  }

  /* hero section планшет */
  .hero {
    max-width: 768px;
    height: 436px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
  /* Our qualities section планшет */

  .list.qua {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .list.qua .item {
    width: calc((100% - 24px) / 2);
  }
  /* Our Team для планшета */
  @media screen and (max-width: 1157px) {
    .team .container,
    .customers .container {
      padding-left: 108px;
      padding-right: 108px;
    }
    .list.team {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 64px 24px;
    }
    .item.border {
      width: calc((100% - 24px) / 2);
    }
    .footer .container {
      display: flex;
      width: 582px;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 24px;
      row-gap: 72px;
      justify-content: left;
      align-items: flex-start;
    }
  }
  /* Customers для планшета */
  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }
  /* footer для планшета */

  .footer-logo .logo {
    text-align: start;
  }
  .footer-text-media {
    text-align: start;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* gap: 24px; */
  }
  .footer-mail {
    margin: 0;
    width: 264px;
    margin-right: 24px;
  }
}
/* Десктопні стилі */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;

    /* background-color: aqua; десктоп*/
  }
  .list.contact-list {
    display: flex;
    gap: 40px;
  }
  .main-nav {
    margin-right: auto;
  }
  .logo {
    margin-right: 76px;
  }
  /* hero section десктоп */
  .hero {
    max-width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-title {
    margin-bottom: 48px;
    max-width: 496px;
  }
  /* Our qualities section десктоп */
  .list.qua {
    display: flex;
    gap: 24px;
  }
  .list.qua .item {
    width: 264px;
    margin: 0;
  }

  .icon-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: var(--text-footer-section-color);
  }

  .section-qualities {
    color: var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .section-text {
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.5;
  }
  /* What are we doing десктопа */
  .section.doing {
    display: block;
    padding-bottom: 120px;
  }

  .list.doing {
    display: flex;
    gap: 24px;
  }
  .list.doing .item {
    margin: 0;
    width: calc((100% - 48px) / 3);
  }
  /* Our Team для десктопа */
  .list.team {
    display: flex;
    gap: 24px;
  }
  /* Customers десктоп */
  .customers-list {
    gap: 24px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
  /* footer десктоп */
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-logo {
    margin-right: 120px;
  }
  .footer-media {
    margin-right: 80px;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}
